<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <meta name="description" content="IO.CX.Admin">
    <meta name="author" content="IO.CX">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/admin-ui.css") %>">
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
  <script src="<%= Routes.static_path(@conn, "/js/admin-ui.js") %>"></script>
</html>
