@import '~antd/dist/antd.css';

.logo {
  height: 24px;
  background-image: url('/cx/admin/images/one-logo-admin.png');
  background-repeat: no-repeat;
  background-size: 100px 24px;
  margin: 16px;
  margin-left: 24px;
  margin-top: 24px;

  &:hover {
    cursor: pointer;
  }
}

.app-layout {
  min-height: calc(100vh);
}

.site-layout-background {
  background: #fff;
}

.ant-tabs-nav-wrap {
  margin-left: 24px;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 1px 0 0 0;
}

.ant-card {
  .ant-table-pagination.ant-pagination {
    margin: 16px 24px;
  }
}

.participation-sessions-stats {
  .participation-counters {
    dt {
      font-size: 2.8125rem;
      text-align: center;
    }

    dd {
      &::nth-child(1) {
        margin-bottom: 1rem;
      }

      margin-top: -0.7rem;
      margin-bottom: 2rem;
      font-size: 0.8rem;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .ant-list-empty-text {
    padding: 0;
  }

  .ant-empty-normal {
    margin: 0;
  }
}

.survey-table {
  .row-deleted > .ant-table-cell {
    opacity: 0.5;
    color: #000;
  }

  .row-deleted > .ant-table-cell:last-child {
    opacity: 1;
  }
}

blockquote {
  font-size: 14px;
  border-left: 5px solid #ccc;
  margin: 0.7em 10px;
  padding: 0 10px;
  quotes: '“' '”';
  padding: 1px 17px;
  line-height: 1.4;

  &:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 21px;
    color: #ccc;
    font-size: 3em;
  }

  p.quotation {
    margin-left: 1.2em;
  }

  footer {
    margin: 0;
    text-align: right;
    font-size: 1em;
    font-style: italic;
  }
}
